<web-app>
    <servlet>
        <servlet-name>aloginv</servlet-name>
        <servlet-class>adminloginvalidate</servlet-class>
     </servlet>
     <servlet>
        <servlet-name>alogins</servlet-name>
        <servlet-class>adminloginsql</servlet-class>
      </servlet>
        <servlet>
        <servlet-name>adminp</servlet-name>
        <servlet-class>adminpage</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>aloginv</servlet-name>
        <url-pattern>/aloginv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alogins</servlet-name>
        <url-pattern>/alogins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminp</servlet-name>
        <url-pattern>/adminp</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>dloginv</servlet-name>
        <servlet-class>doctorloginvalidate</servlet-class>
     </servlet>
     <servlet>
        <servlet-name>dlogins</servlet-name>
        <servlet-class>doctorloginsql</servlet-class>
      </servlet>
        <servlet>
        <servlet-name>doctorp</servlet-name>
        <servlet-class>doctorpage</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>dloginv</servlet-name>
        <url-pattern>/dloginv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dlogins</servlet-name>
        <url-pattern>/dlogins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorp</servlet-name>
        <url-pattern>/doctorp</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>ploginv</servlet-name>
        <servlet-class>patientloginvalidate</servlet-class>
     </servlet>
     <servlet>
        <servlet-name>plogins</servlet-name>
        <servlet-class>patientloginsql</servlet-class>
      </servlet>
        <servlet>
        <servlet-name>patientp</servlet-name>
        <servlet-class>patientpage</servlet-class>
      </servlet>
    <servlet-mapping>
        <servlet-name>ploginv</servlet-name>
        <url-pattern>/ploginv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plogins</servlet-name>
        <url-pattern>/plogins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientp</servlet-name>
        <url-pattern>/patientp</url-pattern>
    </servlet-mapping>
</web-app>